<div class="flex items-center justify-center w-full h-full top-0 left-0 fixed z-[999999] bg-white/30" data-components--inputs--mediaProvider-target="modal">
    <div class="erp-card p-2 sm:p-4 flex flex-wrap justify-start items-start w-[90%] sm:w-[85%] h-[95%] sm:h-[75%] border border-gray-300 shadow-md relative">
        {% import 'macros/svg.html.twig' as icons %}
        {% if data.items is not empty %}
            <div
                class="w-full h-[calc(100% - 58px)] erp-scroller rounded-md border p-2 border-gray-200 bg-gray-50/50 overflow-x-hidden overflow-y-auto media-modal-wrapper"
            >
                <div
                    class="gap-4 grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 2xl:grid-cols-8 w-full"
                    data-components--inputs--mediaProvider-target="info"
                    data-total="{{ data.getTotalItemCount }}"
                    data-page="{{ data.getCurrentPageNumber }}"
                >
                    {% for media in data.items %}
                        <div class="flex flex-col items-center justify-center relative">
                            {% set extension = media.url|file_extension %}
                            <p class="absolute z-10 top-2 left-2 px-2 border border-gray-300 py-1 rounded shadow text-xs font-lato_bold text-white bg-[{{ extension.color }}]">{{ extension.ext }}</p>
                            {% if media.type.value is same as enum('App\\Constant\\GedTypeEnum').IMAGE.value %}
                                <div
                                    class="flex items-center justify-center w-full min-h-20 bg-cover bg-center bg-no-repeat bg-gray-100 border border-gray-300 rounded-md media-grid-item relative"
                                    style="background-image: url({{ media.url|imagine_filter(constant('App\\Constant\\AssetManagerConstant::THUMBNAILS')) }});"
                                    data-components--inputs--mediaProvider-target="items"
                                    data-url="{{ media.url|imagine_filter(constant('App\\Constant\\AssetManagerConstant::THUMBNAILS')) }}"
                                    data-mediatype="{{ media.type.value }}"
                                    data-title="{{ media.title }}"
                                >
                                    <label class="bg-white rounded-full absolute z-10 right-2 bottom-2 cursor-pointer">
                                        <twig:Radio
                                            name="media_items"
                                            value="{{ media.id }}"
                                            label="{{ null }}"
                                            checked="{{ media.id is same as id }}"
                                        />
                                    </label>
                                </div>
                            {% elseif media.type.value is same as enum('App\\Constant\\GedTypeEnum').VIDEO.value %}
                                <div
                                    class="flex items-center justify-center min-h-20 bg-gray-100 border border-gray-300 rounded-md media-grid-item w-full relative"
                                    data-components--inputs--mediaProvider-target="items"
                                    data-url="{{ s3(media.url) }}"
                                    data-mediatype="{{ media.type.value }}"
                                >
                                    <span class="flex items-center justify-center w-full h-full overflow-hidden">
                                        {{ icons.ged(enum('App\\Constant\\GedTypeEnum').VIDEO.value, 'text-cyan-700') }}
                                    </span>
                                    <label class="bg-white rounded-full absolute z-10 right-2 bottom-2 cursor-pointer">
                                        <twig:Radio
                                            name="media_items"
                                            value="{{ media.id }}"
                                            label="{{ null }}"
                                            checked="{{ media.id is same as id }}"
                                        />
                                    </label>
                                </div>
                            {% elseif media.type.value is same as enum('App\\Constant\\GedTypeEnum').DOCUMENT.value %}
                                <div
                                    class="flex items-center justify-center min-h-20 bg-gray-100 border border-gray-300 rounded-md media-grid-item w-full relative"
                                    data-components--inputs--mediaProvider-target="items"
                                    data-mediatype="{{ media.type.value }}"
                                >
                                    <span class="flex items-center justify-center w-full h-full overflow-hidden">
                                        {{ icons.ged(enum('App\\Constant\\GedTypeEnum').DOCUMENT.value, 'text-cyan-700') }}
                                    </span>
                                    <label class="bg-white rounded-full absolute z-10 right-2 bottom-2 cursor-pointer">
                                        <twig:Radio
                                            name="media_items"
                                            value="{{ media.id }}"
                                            label="{{ null }}"
                                            checked="{{ media.id is same as id }}"
                                        />
                                    </label>
                                </div>
                            {% else %}
                                <div
                                    class="flex items-center justify-center min-h-20 bg-gray-100 border border-gray-300 rounded-md media-grid-item w-full relative"
                                    data-components--inputs--mediaProvider-target="items"
                                    data-mediatype="{{ media.type.value }}"
                                >
                                    <span class="flex items-center justify-center w-full h-full overflow-hidden">
                                        {{ icons.ged(enum('App\\Constant\\GedTypeEnum').UNKNOWN.value, 'text-cyan-700') }}
                                    </span>
                                    <label class="bg-white rounded-full absolute z-10 right-2 bottom-2 cursor-pointer">
                                        <twig:Radio
                                            name="media_item"
                                            value="{{ media.id }}"
                                            label="{{ null }}"
                                            checked="{{ media.id is same as id }}"
                                        />
                                    </label>
                                </div>
                            {% endif %}
                            <p class="w-full truncate text-center text-xs mt-1 erp-text-secondary">{{ media.title }}</p>
                        </div>
                    {% endfor %}
                </div>
                {% if data.items|length < data.getTotalItemCount %}
                    <div class="flex items-center justify-center w-max mt-8 mx-auto">
                        <twig:Cta
                            text="{{ 'saas.media.label.load.more'|trans({}, 'saas') }}"
                            type="button"
                            style="default"
                            width="full"
                            controller="saas--media"
                            stimulus_target="loadMore"
                        />
                    </div>
                {% endif %}
            </div>
        {% else %}
            <div
                class="w-full h-[calc(100% - 58px)] erp-scroller rounded-md border p-2 border-gray-200 bg-gray-50/50 overflow-x-hidden overflow-y-auto media-modal-wrapper flex items-center justify-center"
                data-components--inputs--mediaProvider-target="info"
                data-total="{{ data.getTotalItemCount }}"
                data-page="{{ data.getCurrentPageNumber }}"
            >
                <p class="w-full text-center text-sm italic erp-text-primary">
                    {{ 'saas.media.label.no.media'|trans({}, 'saas') }}
                </p>
            </div>
        {% endif %}
        <div class="flex flex-wrap w-full items-center justify-center sm:justify-between mt-4">
            <div class="w-full sm:w-auto">
                <div class="flex items-center justify-center w-full sm:w-max">
                    <twig:Cta
                        text="{{ 'crud.ged.label.btn.close'|trans({}, 'crud') }}"
                        type="button"
                        style="alt"
                        width="full sm:w-max"
                        controller="components--inputs--mediaProvider"
                        stimulus_target="close"
                    />
                </div>
            </div>
            <div class="w-full sm:w-auto flex flex-wrap items-center justify-end">
                <div class="flex items-center justify-center w-full sm:w-max mt-2 sm:mt-0">
                    <input class="hidden" type="file" name="add_file" accept="{{ only|get_accepted_types }}" data-components--inputs--mediaProvider-target="fileLoader">
                    <twig:Cta
                        text="{{ 'crud.ged.label.btn.import'|trans({}, 'crud') }}"
                        type="button"
                        style="alt"
                        width="full sm:w-max"
                        controller="components--inputs--mediaProvider"
                        stimulus_target="import"
                    />
                </div>
                <div class="flex items-center justify-center w-full sm:w-max mt-2 sm:mt-0 sm:ml-2">
                    <twig:Cta
                        text="{{ 'crud.ged.label.btn.use'|trans({}, 'crud') }}"
                        type="button"
                        style="default"
                        width="full sm:w-max"
                        controller="components--inputs--mediaProvider"
                        stimulus_target="use"
                        disabled="{{ data.items|length < 1 }}"
                    />
                </div>
            </div>
        </div>
    </div>
</div>
