{% extends builder_engine.extended_template %}

{% block title %}{{ vbe_title() }}{% endblock %}

{% block body %}

    {% if builder_engine.form_theme is not null %}
        {% form_theme form builder_engine.form_theme %}
    {% endif %}

    <h1>{{ vbe_title() }}</h1>

    <div {{ stimulus_controller('veezions/builder-engine-bundle/veezions_builder_engine_bundle_media') }}>

        {{ form_start(form) }}
        {{ form_rest(form) }}
        <button type="submit" class="btn btn-primary">
            {{ 'form.btn.save'|trans({}, 'BuilderEngineBundle-forms') }}
        </button>
        {{ form_end(form) }}

    </div>

{% endblock %}
