{% extends builder_engine.extended_template %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    {% if builder_engine.form_theme is not null %}
        {% form_theme form builder_engine.form_theme %}
    {% endif %}

    {{ form_start(form) }}
    {{ form_rest(form) }}
    <button type="submit" class="btn btn-primary">{{ 'form.btn.save'|trans({}, 'BuilderEngineBundle-forms') }}</button>
    {{ form_end(form) }}

{% endblock %}
