{% extends builder_engine.extended_template %}

{% block title %}{{ vbe_title() }}{% endblock %}

{% block body %}

    {% if builder_engine.form_theme is not null %}
        {% form_theme form builder_engine.form_theme %}
    {% endif %}

    <div id="vbe-loader">
        <span></span>
    </div>

    <div
        class="{% if builder_engine.is_original_form_theme %}vbe-{% endif %}form-container"
        {% if builder_engine.is_original_form_theme %}id="{{ vbe_container_id() }}"{% endif %}
        {{ stimulus_controller('veezions/builder-engine-bundle/veezions_builder_engine_bundle_media') }}
        data-perload="{{ constant('VeeZions\\BuilderEngine\\Constant\\AssetConstant::ITEMS_PER_LOAD') }}"
        data-maxfilesize="{{ constant('VeeZions\\BuilderEngine\\Constant\\AssetConstant::MAX_FILE_SIZE') }}"
        data-edit="{{ path('xlxeb_controller_library_modal') }}"
        data-delete="{{ path('xlxeb_controller_library_delete') }}"
        data-more="{{ path('xlxeb_controller_library_more') }}"
    >
        <h1
            class="{% if builder_engine.is_original_form_theme %}vbe-{% endif %}heading{% if builder_engine.is_original_form_theme %} vbe-{% endif %}h1"
        >
            {{ vbe_title() }}
        </h1>
        {{ form_start(form, {attr: {id: 'vbe-library-page-container'}}) }}
        <div id="vbe-library-page-upload-container">
            {{ form_label(form.file) }}
            {{ form_widget(form.file) }}
            {{ form_errors(form.file) }}
            {{ form_help(form.file) }}
            {{ form_widget(form.save) }}
        </div>
        {{ form_end(form) }}

        {% if builder_engine.form_theme is not null %}
            {% form_theme search_form builder_engine.form_theme %}
        {% endif %}

        {{ form_start(search_form, {attr: {'data-veezions--builder-engine-bundle--veezions-builder-engine-bundle-media-target': 'searchForm', id: 'vbe-search-form'}}) }}
        {{ form_row(search_form.media_search_order) }}
        {{ form_row(search_form.media_search_types) }}
        <div class="vbe-form-theme-row vbe-form-theme-search-media-container">
            {{ form_label(search_form.media_search) }}
            <div class="vbe-form-theme-search-media-wrapper">
                {{ form_widget(search_form.media_search) }}
                {{ form_errors(search_form.media_search) }}
                {{ form_widget(search_form.media_search_button) }}
            </div>
        </div>
        {{ form_end(search_form) }}

        <div
            data-veezions--builder-engine-bundle--veezions-builder-engine-bundle-media-target="container"
            class="vbe-form-theme-media-list-container"
        >
            {% include '@BuilderEngineInternal/libraries/list.html.twig' %}
        </div>
    </div>

{% endblock %}
