{% import '@BuilderEngineInternal/macros/svg.html.twig' as icons %}
{% if data.items is not empty %}
    <div class="vbe-form-theme-media-list-header">
        <button
            type="button"
            class="vbe-form-theme-media-list-delete-btn"
            disabled
            data-veezions--builder-engine-bundle--veezions-builder-engine-bundle-media-target="deleteBtn"
        >
            {{ 'form.label.media.delete.all'|trans({}, 'BuilderEngineBundle-forms') }}
        </button>
        <p
            data-veezions--builder-engine-bundle--veezions-builder-engine-bundle-media-target="counter"
            class="vbe-form-theme-media-list-counter"
        >
            {{ 'form.label.media.total'|trans({}, 'BuilderEngineBundle-forms') }} : <span>{{ data.items|length }}/<b>{{ data.getTotalItemCount }}</b></span>
        </p>
    </div>
    <div
        class="vbe-form-theme-media-list-wrapper"
        data-veezions--builder-engine-bundle--veezions-builder-engine-bundle-media-target="info"
        data-total="{{ data.getTotalItemCount }}"
        data-page="{{ data.getCurrentPageNumber }}"
    >
        {% for media in data.items %}
            <div class="vbe-form-theme-media-list-item">
                {% set extension = media.url|vbe_file_extension %}
                <p
                    style="background-color: {{ extension.color }};"
                    class="vbe-form-theme-media-list-item-extension"
                >
                    {{ extension.ext }}
                </p>
                {% if media.type.value is same as enum('VeeZions\\BuilderEngine\\Enum\\LibraryEnum').IMAGE.value %}
                    <div
                        class="vbe-form-theme-media-list-item-thumbnail"
                        style="background-image: url({{ media.url|imagine_filter(constant('VeeZions\\BuilderEngine\\Constant\\AssetConstant::FILTER_THUMBNAIL')) }});"
                        data-veezions--builder-engine-bundle--veezions-builder-engine-bundle-media-target="items"
                    >
                        <span
                            class="vbe-form-theme-media-list-edit"
                            data-veezions--builder-engine-bundle--veezions-builder-engine-bundle-media-target="edit"
                            data-id="{{ media.id }}"
                        >
                            {{ icons.crud_icon('edit', 'vbe-form-theme-icon-svg vbe-form-theme-media-icon-svg-edit') }}
                        </span>
                        <span class="vbe-form-theme-media-list-checkbox-container">
                            <input type="checkbox" name="media_items[]" value="{{ media.id }}" />
                        </span>
                    </div>
                {% elseif media.type.value is same as enum('VeeZions\\BuilderEngine\\Enum\\LibraryEnum').VIDEO.value %}
                    <div
                        class="vbe-form-theme-media-list-item-thumbnail"
                        data-veezions--builder-engine-bundle--veezions-builder-engine-bundle-media-target="items"
                    >
                        <span class="vbe-form-theme-media-list-item-icon">
                            {{ icons.library(enum('VeeZions\\BuilderEngine\\Enum\\LibraryEnum').VIDEO.value, 'vbe-form-theme-icon-svg vbe-form-theme-media-icon-svg-doc') }}
                        </span>
                        <span
                            class="vbe-form-theme-media-list-edit"
                            data-veezions--builder-engine-bundle--veezions-builder-engine-bundle-media-target="edit"
                            data-id="{{ media.id }}"
                        >
                            {{ icons.crud_icon('edit', 'vbe-form-theme-icon-svg vbe-form-theme-media-icon-svg-edit') }}
                        </span>
                        <span class="vbe-form-theme-media-list-checkbox-container">
                            <input type="checkbox" name="media_items[]" value="{{ media.id }}" />
                        </span>
                    </div>
                {% elseif media.type.value is same as enum('VeeZions\\BuilderEngine\\Enum\\LibraryEnum').DOCUMENT.value %}
                    <div
                        class="vbe-form-theme-media-list-item-thumbnail"
                        data-veezions--builder-engine-bundle--veezions-builder-engine-bundle-media-target="items"
                    >
                        <span class="vbe-form-theme-media-list-item-icon">
                            {{ icons.library(enum('VeeZions\\BuilderEngine\\Enum\\LibraryEnum').DOCUMENT.value, 'vbe-form-theme-icon-svg vbe-form-theme-media-icon-svg-doc') }}
                        </span>
                        <span
                            class="vbe-form-theme-media-list-edit"
                            data-veezions--builder-engine-bundle--veezions-builder-engine-bundle-media-target="edit"
                            data-id="{{ media.id }}"
                        >
                            {{ icons.crud_icon('edit', 'vbe-form-theme-icon-svg vbe-form-theme-media-icon-svg-edit') }}
                        </span>
                        <span class="vbe-form-theme-media-list-checkbox-container">
                            <input type="checkbox" name="media_items[]" value="{{ media.id }}" />
                        </span>
                    </div>
                {% else %}
                    <div
                        class="vbe-form-theme-media-list-item-thumbnail"
                        data-veezions--builder-engine-bundle--veezions-builder-engine-bundle-media-target="items"
                    >
                        <span class="vbe-form-theme-media-list-item-icon">
                            {{ icons.library(enum('VeeZions\\BuilderEngine\\Enum\\LibraryEnum').UNKNOWN.value, 'vbe-form-theme-icon-svg vbe-form-theme-media-icon-svg-doc') }}
                        </span>
                        <span
                            class="vbe-form-theme-media-list-edit"
                            data-veezions--builder-engine-bundle--veezions-builder-engine-bundle-media-target="edit"
                            data-id="{{ media.id }}"
                        >
                            {{ icons.crud_icon('edit', 'vbe-form-theme-icon-svg vbe-form-theme-media-icon-svg-edit') }}
                        </span>
                        <span class="vbe-form-theme-media-list-checkbox-container">
                            <input type="checkbox" name="media_items[]" value="{{ media.id }}" />
                        </span>
                    </div>
                {% endif %}
                <p class="vbe-form-theme-media-list-item-title">{{ media.title }}</p>
            </div>
        {% endfor %}
    </div>
    {% if data.items|length < data.getTotalItemCount %}
        <button
            type="button"
            class="vbe-form-theme-media-list-more-btn"
            data-veezions--builder-engine-bundle--veezions-builder-engine-bundle-media-target="loadMore"
        >
            {{ 'form.label.media.load.more'|trans({}, 'BuilderEngineBundle-forms') }}
        </button>
    {% endif %}
{% else %}
    <p class="vbe-form-theme-empty-list-text">
        {{ 'form.label.media.empty'|trans({}, 'BuilderEngineBundle-forms') }}
    </p>
{% endif %}
