{% extends 'saas.html.twig' %}

{% block title %}{{ 'page.title.saas.cms.media'|trans({}, 'saas') }} - {{ parent() }}{% endblock %}

{% import 'macros/saas-elements.html.twig' as elements %}

{% block body %}
    {{ elements.title('media', 'saas.nav.section.cms.tab.media') }}

    <div class="erp-card p-2 sm:p-4 mb-4">
        <p class="erp-text-primary text-sm">{{ 'saas.media.description'|trans({}, 'saas') }}</p>
    </div>

    <div
        data-controller="saas--media"
        data-perload="{{ constant('App\\Constant\\AssetManagerConstant::ITEMS_PER_LOAD') }}"
        data-maxfilesize="{{ constant('App\\Constant\\AssetManagerConstant::MAX_FILE_SIZE') }}"
    >
        <div class="erp-card py-8 px-4 flex flex-col items-center justify-center">
            {{ form_start(form, {attr: {class: 'flex flex-col items-center justify-center w-full'}}) }}
            {{ form_row(form.file) }}
            <div class="flex flex-col items-center justify-center mt-6">
                <twig:Cta
                    text="{{ 'saas.media.submit.btn'|trans({}, 'saas') }}"
                    type="submit"
                    style="alt"
                    width="max"
                    controller="saas--media"
                    stimulus_target="upload"
                />
            </div>
            {{ form_end(form) }}
        </div>
        <form data-saas--media-target="searchForm" method="post" class="erp-card p-4 mt-4 flex items-center justify-between flex-wrap bg-gray-100 border border-gray-300">
            <div class="flex flex-col items-start justify-center w-full md:w-1/2 lg:w-1/3">
                <p class="erp-text-secondary mb-4">{{ 'saas.media.label.order.title'|trans({}, 'saas') }}</p>
                <label class="flex items-center justify-start w-full cursor-pointer">
                    <span>
                        <twig:Radio
                            name="media_search_order"
                            value="DESC"
                            checked="{{ true }}"
                            label="{{ null }}"
                        />
                    </span>
                    <span class="ml-2 text-sm">{{ 'saas.media.label.order.desc'|trans({}, 'saas') }}</span>
                </label>
                <label class="flex items-center justify-start mt-1 w-full cursor-pointer">
                    <span>
                        <twig:Radio
                            name="media_search_order"
                            value="ASC"
                            label="{{ null }}"
                        />
                    </span>
                    <span class="ml-2 text-sm">{{ 'saas.media.label.order.asc'|trans({}, 'saas') }}</span>
                </label>
            </div>
            <div class="p-2 flex flex-wrap items-start justify-center w-full md:w-1/2 lg:w-1/3">
                <p class="erp-text-secondary mb-4 w-full">{{ 'saas.media.label.types.title'|trans({}, 'saas') }}</p>
                <div class="w-1/2">
                    <twig:Checkbox
                        name="media_search_types[]"
                        value="{{ enum('App\\Constant\\GedTypeEnum').IMAGE.value }}"
                        label="{{ 'saas.media.label.types.images'|trans({}, 'saas') }}"
                    />
                </div>
                <div class="w-1/2">
                    <twig:Checkbox
                        name="media_search_types[]"
                        value="{{ enum('App\\Constant\\GedTypeEnum').VIDEO.value }}"
                        label="{{ 'saas.media.label.types.videos'|trans({}, 'saas') }}"
                    />
                </div>
                <div class="mt-1 w-1/2">
                    <twig:Checkbox
                        name="media_search_types[]"
                        value="{{ enum('App\\Constant\\GedTypeEnum').DOCUMENT.value }}"
                        label="{{ 'saas.media.label.types.documents'|trans({}, 'saas') }}"
                    />
                </div>
                <div class="mt-1 w-1/2">
                    <twig:Checkbox
                        name="media_search_types[]"
                        value="{{ enum('App\\Constant\\GedTypeEnum').UNKNOWN.value }}"
                        label="{{ 'saas.media.label.types.unknown'|trans({}, 'saas') }}"
                    />
                </div>
            </div>
            <div class="flex flex-col items-end justify-center w-full lg:w-1/3 mt-2 lg:mt-0">
                <div class="flex items-center justify-center w-full">
                    <twig:Input
                        name="media_search"
                        type="search"
                        value=""
                        autocomplete="media_search"
                        autofocus="{{ true }}"
                        label="{{ null }}"
                        placeholder="{{ 'saas.media.label.search'|trans({}, 'saas') }}"
                    />
                </div>
                <div class="flex items-center justify-center mt-2 w-full">
                    <twig:Cta
                        text="{{ 'saas.media.label.search'|trans({}, 'saas') }}"
                        type="submit"
                        style="alt"
                        width="full"
                        controller="saas--media"
                        stimulus_target="searchBtn"
                        disabled="{{ true }}"
                    />
                </div>
            </div>
        </form>
        <div class="erp-card p-4 mt-1" data-saas--media-target="container">
            {% include 'saas/media/list.html.twig' %}
        </div>
    </div>
{% endblock %}
