{% import '@BuilderEngineInternal/macros/svg.html.twig' as icons %}
<div
    class="vbe-form-theme-media-modal"
    data-veezions--builder-engine-bundle--veezions-builder-engine-bundle-media-target="modal"
>
    <div class="vbe-form-theme-media-modal-container">
        <span
            class="vbe-form-theme-media-modal-close-btn"
            data-veezions--builder-engine-bundle--veezions-builder-engine-bundle-media-target="close"
        >
            {{ icons.crud_icon('close', 'vbe-form-theme-icon-svg vbe-form-theme-media-icon-svg-edit') }}
        </span>
        <div class="vbe-form-theme-media-modal-left-side">
            {% if media.type.value is same as enum('VeeZions\\BuilderEngine\\Enum\\LibraryEnum').IMAGE.value %}
                <img
                    class="vbe-form-theme-media-modal-image"
                    src="{{ media.url|imagine_filter(constant('VeeZions\\BuilderEngine\\Constant\\AssetConstant::FILTER_LOW_QUALITY')) }}"
                    alt="{{ media.title }}"
                >
            {% elseif media.type.value is same as enum('VeeZions\\BuilderEngine\\Enum\\LibraryEnum').VIDEO.value %}
                <video class="vbe-form-theme-media-modal-video" src="{{ vbe_aws_s3(media.url) }}" controls></video>
            {% elseif media.type.value is same as enum('VeeZions\\BuilderEngine\\Enum\\LibraryEnum').DOCUMENT.value %}
                <span class="vbe-form-theme-media-modal-other">
                    {{ icons.library(enum('VeeZions\\BuilderEngine\\Enum\\LibraryEnum').DOCUMENT.value, 'vbe-form-theme-icon-svg') }}
                </span>
            {% elseif media.type.value is same as enum('VeeZions\\BuilderEngine\\Enum\\LibraryEnum').UNKNOWN.value %}
                <span class="vbe-form-theme-media-modal-other">
                    {{ icons.library(enum('VeeZions\\BuilderEngine\\Enum\\LibraryEnum').UNKNOWN.value, 'vbe-form-theme-icon-svg') }}
                </span>
            {% endif %}
        </div>
        <div class="vbe-form-theme-media-modal-right-side">
            <h3 class="vbe-form-theme-media-modal-title">{{ 'form.label.media.modal.title'|trans({}, 'BuilderEngineBundle-forms') }}</h3>
            <ul class="vbe-form-theme-media-modal-info-list">
                <li><b>{{ 'form.label.media.modal.size'|trans({}, 'BuilderEngineBundle-forms') }}:</b> {{ media.size|vbe_humanize_size }}</li>
                {% if media.width is not null and media.height is not null %}
                    <li><b>{{ 'form.label.media.modal.dimensions'|trans({}, 'BuilderEngineBundle-forms') }}:</b> {{ media.width }} x {{ media.height }}</li>
                {% endif %}
                <li><b>{{ 'form.label.media.modal.date'|trans({}, 'BuilderEngineBundle-forms') }}:</b> {{ media.createdAt|format_datetime('full', 'short')|capitalize }}</li>
                <li><b>{{ 'form.label.media.modal.mime'|trans({}, 'BuilderEngineBundle-forms') }}:</b> {{ media.mime }}</li>
                <li ><b>{{ 'form.label.media.modal.url'|trans({}, 'BuilderEngineBundle-forms') }}:</b> <a href="{{ vbe_aws_s3(media.url )}}" target="_blank" download="{{ media.title }}">{{ vbe_aws_s3(media.url )}}</a></li>
            </ul>

            {% if builder_engine.form_theme is not null %}
                {% form_theme form builder_engine.form_theme %}
            {% endif %}
            {{ form_start(form, {attr: {class: 'vbe-form-theme-media-modal-edit-info-container'}}) }}
            {{ form_end(form) }}

            <h3 class="vbe-form-theme-media-modal-title">{{ 'form.label.media.modal.used'|trans({}, 'BuilderEngineBundle-forms') }}</h3>
            {% set articles = iterator_to_array(media.article) %}
            {% set categories = iterator_to_array(media.category) %}
            {% set pages = iterator_to_array(media.page) %}
            {% set elements = iterator_to_array(media.elements) %}
            {% if articles|length < 1 and categories|length < 1 and pages|length < 1 and elements|length < 1 %}
                <i class="vbe-form-theme-media-modal-no-use">{{ 'form.label.media.modal.no.use'|trans({}, 'BuilderEngineBundle-forms') }}</i>
            {% elseif articles|length > 0 %}
                <p class="vbe-form-theme-media-modal-use-count">
                    {{ articles|length > 1
                    ? 'form.label.media.modal.count.entities'|trans({'%nb%': articles|length, '%entity%': 'form.label.media.modal.articles'|trans({}, 'BuilderEngineBundle-forms')}, 'BuilderEngineBundle-forms')
                    : 'form.label.media.modal.count.entities'|trans({'%nb%': 1, '%entity%': 'form.label.media.modal.article'|trans({}, 'BuilderEngineBundle-forms')}, 'BuilderEngineBundle-forms')
                    }}:
                </p>
                <ul class="vbe-form-theme-media-modal-use-list">
                    {% for article in articles %}
                        <li class="vbe-form-theme-media-modal-use-entity">
                            <a
                                class="vbe-form-theme-media-modal-use-entity-link"
                                href="{{ path(routes.article, {slug: article.slug}) }}"
                                target="_blank"
                            >
                                - {{ article.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% elseif categories|length > 0 %}
                <p class="vbe-form-theme-media-modal-use-count">
                    {{ categories|length > 1
                    ? 'form.label.media.modal.count.entities'|trans({'%nb%': categories|length, '%entity%': 'form.label.media.modal.categories'|trans({}, 'BuilderEngineBundle-forms')}, 'BuilderEngineBundle-forms')
                    : 'form.label.media.modal.count.entities'|trans({'%nb%': 1, '%entity%': 'form.label.media.modal.category'|trans({}, 'BuilderEngineBundle-forms')}, 'BuilderEngineBundle-forms')
                    }}:
                </p>
                <ul class="vbe-form-theme-media-modal-use-list">
                    {% for category in categories %}
                        <li class="vbe-form-theme-media-modal-use-entity">
                            <a
                                class="vbe-form-theme-media-modal-use-entity-link"
                                href="{{ path(routes.category, {slug: category.slug}) }}"
                                target="_blank"
                            >
                                - {{ category.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% elseif pages|length > 0 %}
                <p class="vbe-form-theme-media-modal-use-count">
                    {{ pages|length > 1
                    ? 'form.label.media.modal.count.entities'|trans({'%nb%': pages|length, '%entity%': 'form.label.media.modal.pages'|trans({}, 'BuilderEngineBundle-forms')}, 'BuilderEngineBundle-forms')
                    : 'form.label.media.modal.count.entities'|trans({'%nb%': 1, '%entity%': 'form.label.media.modal.page'|trans({}, 'BuilderEngineBundle-forms')}, 'BuilderEngineBundle-forms')
                    }}:
                </p>
                <ul class="vbe-form-theme-media-modal-use-list">
                    {% for page in pages %}
                        <li class="vbe-form-theme-media-modal-use-entity">
                            <a
                                class="vbe-form-theme-media-modal-use-entity-link"
                                href="{{ path(page.route) }}"
                                target="_blank"
                            >
                                - {{ app.request.getLocale() is same as 'fr' ? page.titleFr : page.titleEn }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% elseif elements|length > 0 %}
                <p class="vbe-form-theme-media-modal-use-count">
                    {{ elements|vbe_get_real_elements_length > 1
                    ? 'form.label.media.modal.count.entities'|trans({'%nb%': elements|vbe_get_real_elements_length, '%entity%': 'form.label.media.modal.elements'|trans({}, 'BuilderEngineBundle-forms')}, 'BuilderEngineBundle-forms')
                    : 'form.label.media.modal.count.entities'|trans({'%nb%': 1, '%entity%': 'form.label.media.modal.element'|trans({}, 'BuilderEngineBundle-forms')}, 'BuilderEngineBundle-forms')
                    }}:
                </p>
                <ul class="vbe-form-theme-media-modal-use-list">
                    {% for element in elements %}
                        <li class="vbe-form-theme-media-modal-use-list-element">
                            <a
                                class="vbe-form-theme-media-modal-use-entity-link"
                                href="{{ path(element.page.route) }}"
                                target="_blank"
                            >
                                - {{ element.page.title }}
                            </a>
                            <ul class="vbe-form-theme-media-modal-use-list-element-per-page">
                                {% for elmt in element.page|vbe_get_all_elements_from_page %}
                                    <li><i>- {{ elmt }}</i></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>
