<div
    id="erp-builder-new-module-modal"
    class="fixed z-[999999] hidden bg-white/30 top-0 left-0 flex items-center justify-center w-full h-full"
>
    <div class="max-w-[90%] max-h-[90vh] erp-card border border-gray-300 shadow-md">
        <h3 class="erp-text-secondary flex items-center justify-between text-lg w-full text-left border-b border-gray-300 pb-4 mb-4 p-2 sm:p-4">
            <span style="width: calc(100% - 32px);" class="truncate">{{ 'crud.label.builder.choose.module'|trans({}, 'crud') }}</span>
            {% import 'macros/svg.html.twig' as svg %}
            <span
                    id="erp-builder-new-module-modal-close"
                    class="flex items-center justify-center cursor-pointer"
            >
                {{ svg.crud_icon('close', 'medium', '') }}
            </span>
        </h3>
        <div class="max-w-full w-[400px] h-full flex flex-wrap items-center justify-between erp-scroller overflow-y-auto p-2 sm:p-4">
            {% import 'macros/svg.html.twig' as svg %}
            {% for module in get_cms_modules() %}
                <div class="w-1/2 flex items-center justify-center p-1">
                    <div
                        class="flex flex-col items-center justify-center w-full p-4 bg-sky-500 cursor-pointer hover:text-sky-500 border border-sky-500 hover:bg-white text-white duration-200 rounded-md erp-builder-new-module-modal-selector"
                        data-module="{{ module }}"
                    >
                        <span class="flex items-center justify-center">
                            {{ svg.builder_icon(module, 'medium', 'text-inherit') }}
                        </span>
                        <p class="text-inherit text-center text-sm w-full truncate mt-1">{{ ('crud.label.builder.module.name.' ~ module)|trans({}, 'crud') }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
