{% extends '@BuilderEngineBundle/builder.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/bundles/builderengine/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
{% endblock %}

{% block body %}
    {% form_theme form '@BuilderEngineInternal/forms/builder_form_layout.html.twig' %}

    {{ form_start(form) }}
    {{ form_rest(form) }}
    <button type="submit">{{ 'form.btn.save'|trans({}, 'BuilderEngineBundle-forms') }}</button>
    {{ form_end(form) }}

{% endblock %}
