{% extends builder_engine.extended_template %}

{% block title %}{{ vbe_title() }}{% endblock %}

{% block body %}

    {% if builder_engine.form_theme is not null %}
        {% form_theme form builder_engine.form_theme %}
    {% endif %}

    <div
        class="{% if builder_engine.is_original_form_theme %}vbe-{% endif %}form-container"
        {% if builder_engine.is_original_form_theme %}id="{{ vbe_container_id() }}"{% endif %}
    >
        {% if builder_engine.page_title is same as true %}
            <h1
                class="{% if builder_engine.is_original_form_theme %}vbe-{% endif %}heading{% if builder_engine.is_original_form_theme %} vbe-{% endif %}h1"
            >
                {{ vbe_title() }}
            </h1>
        {% endif %}
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}
