{% if pageCount > 1 %}
    <div class="{% if builder_engine.is_internal_css %}vbe-{% endif %}pagination">
        {% if first is defined and current != first %}
            <span class="{% if builder_engine.is_internal_css %}vbe-{% endif %}pagination-icon-container {% if builder_engine.is_internal_css %}vbe-{% endif %}first">
                <a href="{{ path(route, knp_pagination_query(query, first, options)) }}">
                    {{ builder_engine.pagination_first_button }}
                </a>
            </span>
        {% endif %}

        {% if previous is defined %}
            <span class="{% if builder_engine.is_internal_css %}vbe-{% endif %}pagination-icon-container {% if builder_engine.is_internal_css %}vbe-{% endif %}previous">
                <a rel="prev" href="{{ path(route, knp_pagination_query(query, previous, options)) }}">
                    {{ builder_engine.pagination_previous_button }}
                </a>
            </span>
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <span class="{% if builder_engine.is_internal_css %}vbe-{% endif %}pagination-page">
                    <a href="{{ path(route, knp_pagination_query(query, page, options)) }}">{{ page }}</a>
                </span>
            {% else %}
                <span class="{% if builder_engine.is_internal_css %}vbe-{% endif %}pagination-page {% if builder_engine.is_internal_css %}vbe-{% endif %}pagination-current"><b>{{ page }}</b></span>
            {% endif %}
        {% endfor %}

        {% if next is defined %}
            <span class="{% if builder_engine.is_internal_css %}vbe-{% endif %}pagination-icon-container {% if builder_engine.is_internal_css %}vbe-{% endif %}next">
                <a rel="next" href="{{ path(route, knp_pagination_query(query, next, options)) }}">
                    {{ builder_engine.pagination_next_button }}
                </a>
            </span>
        {% endif %}

        {% if last is defined and current != last %}
            <span class="{% if builder_engine.is_internal_css %}vbe-{% endif %}pagination-icon-container {% if builder_engine.is_internal_css %}vbe-{% endif %}last">
                <a href="{{ path(route, knp_pagination_query(query, last, options)) }}">
                    {{ builder_engine.pagination_last_button }}
                </a>
            </span>
        {% endif %}
    </div>
{% endif %}
