{% set nav = web_nav() %}
{% set head_office = head_office_data() %}
<!DOCTYPE html>
<html lang="{{ app.request.getLocale() }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% import 'macros/seo.html.twig' as seo %}
    {{ seo.tags(page.seo) }}

    <title>{{ app.request.get('_route') is same as 'app_web_home' ? '' : page.title ~ ' - ' }}{{ head_office.societyName }}</title>

    <link rel="icon" href="{{ asset('media/web/icon.png') }}">

    {% block stylesheets %}
    {% endblock %}

    {% if app.request.server.get('APP_ENV') is same as 'dev' %}
        <script src="https://cdn.tailwindcss.com"></script>
    {% endif %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>

<body data-turbo="false" class="bg-gray-100 web-content"{% if app.user is not null %} data-userinfo="App\Entity\Web\Customer::{{ app.user.id }}"{% endif %} data-support="App\Entity\Admin\User::{{ get_extra_chat_id('support') }}" data-bot="App\Entity\Admin\User::{{ get_extra_chat_id('bot') }}">

    <header class="fixed z-[99] top-0 left-0 w-full flex flex-col justify-center items-center bg-slate-900" data-controller="web--header">
        {% include '@BuilderEngineInternal/cms/navigation.html.twig' %}
    </header>

    <main class="{% if nav.sup_header.content.stages is not empty %}md:mt-[124px]{% else %}md:mt-[84px]{% endif %} mt-[65px] font-rubik">
        {% include '@BuilderEngineInternal/macros/builder.html.twig' with {content: page.content} %}
    </main>

    <footer class="flex flex-col items-center justify-center w-full bg-slate-900 text-white relative z-50">
        {% include '@BuilderEngineInternal/cms/footer.html.twig' %}
    </footer>
</body>
</html>

